@import 'vendor/bourbon/bourbon';
@import 'vendor/neat/neat';
@import 'variables';
header {

}

section{
  padding:5px;
}

header{
  @include display(flex);
  @include align-items(center);
  background:$header;
  color:white;
  font-weight: normal;
  font-size: 1.25em;
  padding: 30px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  height: 60px;
  margin: auto;
}

.full {
@include span-columns(12);
}

#app{
  @include outer-container;
  background: $main-color;
  box-shadow: 0 1px 1px rgba(0,0,0,0.10);
  position: relative;
  height: 630px;

}

.half {
  @include span-columns(6);
}


.report-heading{
  @include span-columns(12);
}

.metrics{
  @include span-columns(5);

}

.metric-container{
  @include span-columns(12);
  margin: 0px 9px;
  margin-top: 0px;
  border-top: 1px solid #eeeeee;
  background-color: #fafafa;
  padding:5px;
  padding-left: 18px;
  height:56px;
  @include display(flex);
  @include justify-content(space-between);
  @include align-items(center);

  &.active {
    background-color: $accent;
    color:white;
  }

}

#distribution-graph {
  @include span-columns(7);
  height:100%;
}

.graph{
  @include fill-parent;
}

.bar{

}

.chart{
  margin-top: 63px;
}

.bar-half{
  @extend .bar;
}

.bar-full{
  @extend .bar;

}

