@import 'variables';
body{
  color: #5F5B5B;
}

h2 {
  margin: 24px 9px 5px;
  font-weight: 500;
  line-height: .65em;
  font-size: 1em;
}

h3 {
  margin: 10px 9px 5px;
  font-weight: 300;
  line-height: .65em;
  font-size: .85em;
}
